.main {
	float: left;
	width: 720px;
}

.green,
.pink,
.red {
	font-size: 15px;
	line-height: 30px;
	vertical-align: middle;
}

.green {
	color: green;
}

.pink {
	color: pink;
}

.red {
	color: red;
}

.user_form,
.performance {
	float: left;
	border: 1px solid #ccc;
	padding: 15px;
	margin: 10px;
	width: 240px;

/*
	position: relative;
	top: 50%;
	transform: translateY(-50%);
*/
}

.performance {
	font-family: Verdana;
	font-size: 12px;
	line-height: 20px;
	width: auto;
}

.coordinate {
	margin: 4px 0 4px 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

form {
	line-height: 26px;
	vertical-align: middle;
}

